.header {
  margin: 1em 1em 0 1em;
}

#download-progress {
  display: none;
  color: #E67929;
}

#map {
  height: 80vh;
}

.footer {
  margin: 1em;
  text-align: right;
}

.river-tooltip {
  padding: 5px 10px;
  font-size: 1.6rem;
}

.popup-title {
  font-size: 2.5rem;
  margin-bottom: 5px;
}
