.header {
  margin: 1em 1em 0 1em;
}

#download-progress {
  display: none;
  color: #E67929;
}

#map {
  height: 80vh;
}

.footer {
  margin: 1em;
  text-align: right;
}

.river-tooltip {
  padding: 5px 10px;
  font-size: 1.6rem;
}

.popup-title {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 18%;
  left: 30%;
  width: 22px;
  height: 22px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #E67929;
  animation: spinner .6s linear infinite;
}
