.header {
  margin: 1em 1em 0 1em;
}

#download-progress {
  display: none;
}

#map {
  height: 80vh;
}

.footer {
  margin: 1em;
  text-align: right;
}

.river-tooltip {
  padding: 5px 10px;
  font-size: 1.6rem;
}

.popup-title {
  font-size: 2rem;
  margin-bottom: 5px;
}

.popup-content {
  font-size: 1.3rem;
}

.popup-list-item {
  margin: 1px;
}

/* Leaflet map doesn't inherit styles from the body. hence we have a custom
   class to add to leaflet maps explicitly */
.leaflet-override-custom {
  color: #606c76;
  font-family: 'Roboto';
  font-weight: normal;
  letter-spacing: -.01rem;
  line-height: 1.6;
  margin-left: 3px;
  font-size: 1.4rem;
}

/* For the loading animation - the loading animation is pure CSS */
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 5px;
  width: 10px;
  background: #D5D4D3;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 5px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 20px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 35px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 48px;
  }
  50%, 100% {
    top: 24px;
    height: 24px;
  }
}
